.wel-box{position: relative;
    margin: 0 auto;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
	width:100%;height:100%;
	overflow:hidden;
	}
.wel-image {
    position: relative;
    display: block;
    border: none;
}
.wel-box a:hover{color:white;}
.wel-title{position:absolute;display:block;top:30%;left:35%;color:black;font-size:3em;font-weight:bold;text-align:center;}
@media (max-width: 1199px) {
.wel-title{
font-size:2.5em;
}
}
@media (max-width: 991px) {
.wel-title{
font-size:2em;
}
}
@media (max-width: 767px) {
.wel-title{
font-size:1.5em;
}
}
.wel-icon{position:absolute;right:0;bottom:5px;height:20px;color:white;}
.music{position:fixed;right:0;color:white;}
#log{
width:20%;
padding-top:30px;
float:left;
}
#result{color:red;}